<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.CanteenDao">
	<insert id="addCanteen" parameterType="Canteen">
		INSERT INTO
		canteen(cname,description) VALUES
		(#{cname},#{description})
	</insert>
	<delete id="delCanteen">
		delete from canteen where cid = #{cid}
	</delete>
	<update id="updateCanteen" parameterType="Canteen">
		UPDATE canteen SET
		cname = #{cname},
		description=#{description}
		WHERE cid=#{cid}
	</update>
	<select id="getCanteenByCid" resultType="Canteen">
		SELECT * FROM canteen
		WHERE cid=#{cid}
	</select>
	<select id="getAllCanteen" resultType="Canteen">
		select * from canteen
	</select>
	<select id="getCanteenByPage" parameterType="Page" resultType="Canteen">
		select * from canteen
		<if test="pageSize!=0">
			limit #{first},#{pageSize}
		</if>
	</select>
	<select id="getCanteenCount" resultType="Integer">
		select count(*) from canteen
	</select>
</mapper>
