<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.FoodDao">
	<!-- 添加 -->
	<insert id="addFood" parameterType="Food">
		insert into food
		(fname,price,image,number,mid) VALUES
		(#{fname},#{price},#{image},#{number},#{mid})
	</insert>
	<!-- 删除 -->
	<delete id="delFood">
		delete from food where foodid=#{foodid}
	</delete>
	<!-- 更新 -->
	<update id="updateFood" parameterType="Food">
		update food set
		fname=#{fname},price=#{price},image=#{image},number=#{number},mid=#{mid}
		where foodid=#{foodid}
	</update>
	<!-- 根据id查询 -->
	<select id="getFoodByFoodId" resultType="Food">
		select * from food where
		foodid=#{foodid}
	</select>
	<!-- 查询所有 -->
	<select id="getAllFood" resultType="Food">
		select * from food
	</select>
	<!-- 根据mid查询 -->
	<select id="getFoodByMid" resultType="Food">
		select * from food where
		mid=#{mid}
	</select>
	<select id="getFoodByCondition" resultType="Food">
		select * from food
		<where>
			1 = 1
			<if test="fname != null">
				and fname like '%${fname}%'
			</if>
			<if test="mid != 0">
				and mid = #{mid}
			</if>
			<if test="pageSize!=0">
				limit #{first},#{pageSize}
			</if>
		</where>
	</select>
</mapper>
