<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.MerchantDao">

	<insert id="addMerchant" parameterType="Merchant">
		insert into
		merchant(mname,description,cid)
		values(#{mname},#{description},#{cid});
	</insert>
	<delete id="delMerchant" parameterType="Merchant">
		delete from merchant
		where mid=#{mid}
	</delete>
	<update id="updateMerchant">
		update merchant set mname=#{mname}
		,description=#{description},cid=#{cid}
		where mid=#{mid}
	</update>
	<select id="getAllMerchant" resultType="Merchant">
		select * from merchant
	</select>
	<select id="getMerchantByMid" resultType="Merchant">
		select * from merchant
		where mid=#{mid}
	</select>
	<select id="getMerchantsByCid" resultType="Merchant">
		select * from merchant
		where cid=#{cid}
	</select>
	<select id="getMerchantByCondition" resultType="Merchant">
		select * from merchant
		<where>
			1 = 1
			<if test="mname != null">
				and mname like '%${mname}%'
			</if>
			<if test="cid != 0">
				and cid = #{cid}
			</if>
			<if test="pageSize!=0">
				limit #{first},#{pageSize}
			</if>
		</where>
	</select>
</mapper>
