<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.UserDao">
	<insert id="addUser" parameterType="User"><!--插入用户 -->
		insert into
		user(uname,idcard,studentid,class,password,phonenum,address)
		values(#{uname},#{idcard},#{studentid},#{classes},#{password},#{phonenum},#{address})
	</insert>

	<delete id="delUser" parameterType="String"><!--删除用户 -->
		delete from user where
		studentid=#{studentid}
	</delete>

	<update id="updateUser" parameterType="User"><!--更新用户 -->
		update user set
		uname=#{uname},class=#{classes},password=#{password},phonenum=#{phonenum},address=#{address}
		where studentid=#{studentid}
	</update>

	<select id="getUserByStudentId" parameterType="User"
		resultType="User"><!--按学号查找用户 -->
		select * from user where studentid=#{studentid}
	</select>

	<select id="getUserByUserId" parameterType="User"
		resultType="User"><!--按学号查找用户 -->
		select * from user where id=#{id}
	</select>

	<select id="getAllUser" resultType="User"><!--得到所有用户 -->
		select * from user;
	</select>

	<select id="login" resultType="User"><!--用户登录 -->
		select * from user where (uname = #{name} or phonenum = #{name}) and
		password=#{password}
	</select>

	<select id="getUserCountByCondition" resultType="Integer">
		select count(*) from user
		<where>
			1 = 1
			<if test="uname!=null">
				and uname like '%${uname}%'
			</if>
			<if test="idcard!=null">
				and idcard like '%${idcard}%'
			</if>
			<if test="studentid!=null">
				and studentid like '%${studentid}%'
			</if>
			<if test="classes!=null">
				and classes like '%${classes}%'
			</if>
			<if test="phonenum!=null">
				and phonenum like '%${phonenum}%'
			</if>
			<if test="address!=null">
				and address like '%${address}%'
			</if>
		</where>
	</select>
	<select id="getUserByConditionAndPage" parameterType="UserCondition"
		resultType="User">
		select * from user
		<where>
			1 = 1
			<if test="condition.uname!=null">
				and uname like '%${condition.uname}%'
			</if>
			<if test="condition.idcard!=null">
				and idcard like '%${condition.idcard}%'
			</if>
			<if test="condition.studentid!=null">
				and studentid like '%${condition.studentid}%'
			</if>
			<if test="condition.classes!=null">
				and classes like '%${condition.classes}%'
			</if>
			<if test="condition.phonenum!=null">
				and phonenum like '%${condition.phonenum}%'
			</if>
			<if test="condition.address!=null">
				and address like '%${condition.address}%'
			</if>
			<if test="page.pageSize!=0">
				limit #{page.first},#{page.pageSize}
			</if>
		</where>
	</select>

	<update id="changePassword">
		update user set
		password=#{password}
		where
		phonenum=#{phonenum}
	</update>
	
	<select id="getCertificationUserCount" parameterType="Integer" resultType="Integer">
		select count(*) from user
		<where>
			1 = 1
			<if test="status == 0 or status == 1 or status == 2 or status == 3">
				and status = #{status}
			</if>
		</where>
	</select>
	
	<!-- 因为数据库0-3都代表不同状态，那么只要是大于3就代表没有加入筛选条件 -->
	<select id="getCertificationUser" resultType="User">
		select * from user
		<where>
			1 = 1
			<if test="status == 0 or status == 1 or status == 2 or status == 3">
				and status = #{status}
			</if>
			<if test="page.pageSize!=0">
				limit #{page.first},#{page.pageSize}
			</if>
		</where>
	</select>
	
	<!-- 申请认证，状态为2 -->
	<update id="applyCertification">
		update user set status = 2 where id = #{id}
	</update>
	
	<!-- 处理认证 ,1代表通过认证，3代表拒绝认证-->
	<update id="dealCertification">
		update user set status = #{status} where id = #{id}
	</update>
</mapper>
